body {
    font-family: 'Roboto', sans-serif;
    background-color: #1B1B1B;
}

.hero {
    padding: 160px 20px;
    background-image: url("https://images.unsplash.com/photo-1448574271786-c15eea67e169?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHBvcnRyYWl0JTIwYmxhY2slMjBhbmQlMjB3aGl0ZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.hero h2 {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h1 {
    font-size: 72px;
    line-height: 84px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero p {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    
}

.btn-branding {
    background-color: #FFFFFF;
    padding: 18px 30px;
    border-radius: 50px;
    font-size: 14px;
    line-height: 17px;
    color: #272142;
    text-transform: uppercase;
    transition: 200ms all ease-in-out;
}

.btn-branding:hover {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}